:root {
  background-color: black;
  color: white;
}

.page {
  margin: auto;
  width: 880px;
  max-width: 100%;
  min-width: 320px;
  padding: ;
}
.line {
  border: 1px solid #545454;
  margin: auto;
  margin-bottom: 40px;
}

.header {
  width: 880px;
  max-width: 100%;
  margin: auto;
}
.header__image {
  width: 175px;
  max-width: 100%;
  padding-bottom: 40px;
  display: block;
  padding-bottom: 40px;
  align-items: center;
  padding-top: 45px;
}

.section__container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.section {
  width: 880px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-bottom: 50px;
}

.section_avatar {
  width: 170px;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 30px;
}

.button__image {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 auto;
}
.section__button {
  width: 150px;
  max-width: 100%;
  height: 50px;
  max-height: 50px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.section__edit {
  width: 24px;
  height: 24px;
  max-height: 50px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  background-color: black;
}
.pen__image {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 auto;
}
.section__profile-info {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin: auto;
}

.section__profile-tag {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  margin: auto;
  padding-top: 16px;
}
.card {
  margin: auto;
  width: 282px;
}

.cards {
  margin: auto;
  width: 880px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 17px;
}

.card__image {
  display: block;
  width: 282px;
  max-width: 100%;
  margin: 0;
}

.Card__contenedor {
  width: 282px;
  max-width: 100%;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 25px 0 31px 0;
  border-radius: 0px 0 10px 10px;
}

.card__titel {
  margin: 0;
  color: black;
  font-family: Inter;
  width: 246px;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: center;
}

.card__button {
  padding-right: 18px;
}

.footer__copyright {
  padding-top: 5px;
  padding-left: 19px;
  box-sizing: border-box;
  margin: auto;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #545454;
}

::placeholder {
  color: backgrou #c4c4c4;
}
.form__close {
  width: 40px;

  position: fixed;
  bottom: 100%;
  left: 100%;
}
.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 360px;
}

.form__fieldset {
  width: 430px;
  height: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  border-color: transparent;
}

.form__title {
  margin: auto;
  width: 360px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: black;
}

.form__input {
  width: 360px;
  margin: 30px auto 0 auto;
  padding: 15px 0 0 0;
  border-color: transparent;
  border-bottom: 2px solid #dadada;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.submit__button {
  margin: auto;
  width: 360px;
  height: 50px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  color: #ffffff;
  background-color: black;
}

button:hover {
  background-color: grey;
  border-color: transparent;
}
.card__button:hover {
  opacity: 60%;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .header__image {
    padding-left: 27px;
  }
  .card {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .cards {
    width: 100%;
    padding: 0 19px 0 19px;
    box-sizing: border-box;
  }

  .card__image {
    width: 100%;
  }

  .Card__contenedor {
    width: 100%;
  }

  .section {
    padding: 0 10px 50px 10px;
    box-sizing: border-box;
  }
  .section__button {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .section__profile-tag {
    text-align: center;
  }

  .section__container {
    padding-top: 10px;
    padding-bottom: 14px;
    width: 100%;
  }
  .card__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
  }
}

@media screen and (max-width: 630px) {
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 19px;
    box-sizing: border-box;
  }

  .section_avatar {
    max-width: 100%;
    border-radius: 50%;
    margin: auto;
  }

  .button__image {
    display: block;

    margin: 0 auto;
  }
  .section__button {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .section__profile-tag {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .section__profile-info {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;

    margin: auto;
  }

  .card__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
  }

 
}
@media screen and (max-width: 630px) {

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 360px;
}

.form__fieldset {
  width: 282px;
  height: 322px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  border-color: transparent;
}

.form__title {
  margin: auto;
  width: 360px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.78px;
  text-align: left;
}

.form__input {
  width: 360px;
  margin: 30px auto 0 auto;
  padding: 15px 0 0 0;
  border-color: transparent;
  border-bottom: 2px solid #dadada;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.submit__button {
  margin: auto;
  width: 360px;
  height: 50px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  color: #ffffff;
  background-color: black;
}
}